ansi2html==1.8.0
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
asttokens==2.2.1
attrs==23.1.0
Automat==22.10.0
backcall==0.2.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cinemagoer @ git+https://github.com/cinemagoer/cinemagoer@e4f39f42ce3d5873f2c9bdb48ff7355179a7c1e5
colorama==0.4.6
comm==0.1.4
constantly==15.1.0
cryptography==41.0.4
cssselect==1.2.0
debugpy==1.6.7.post1
decorator==5.1.1
executing==1.2.0
filelock==3.12.4
greenlet==2.0.2
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
ipykernel==6.25.1
ipython==8.15.0
itemadapter==0.8.0
itemloaders==1.1.0
jedi==0.19.0
jmespath==1.0.1
jupyter_client==8.3.1
jupyter_core==5.3.1
lxml==4.9.3
matplotlib-inline==0.1.6
nest-asyncio==1.5.7
numpy==1.26.0
packaging==23.1
parsel==1.8.1
parso==0.8.3
pickleshare==0.7.5
platformdirs==3.10.0
prompt-toolkit==3.0.39
Protego==0.3.0
psutil==5.9.5
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyDispatcher==2.0.7
Pygments==2.16.1
pyOpenSSL==23.2.0
python-dateutil==2.8.2
pywin32==306
pyzmq==25.1.1
queuelib==1.6.2
requests==2.31.0
requests-file==1.5.1
Scrapy==2.11.0
service-identity==23.1.0
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.21
stack-data==0.6.2
tldextract==3.6.0
tornado==6.3.3
traitlets==5.9.0
Twisted==22.10.0
twisted-iocpsupport==1.0.4
typing_extensions==4.8.0
urllib3==2.0.5
w3lib==2.1.2
wcwidth==0.2.6
zope.interface==6.0
